.footerContainer {
    position: relative;
    color: white;
    background-color: blueviolet;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    box-shadow: inset 0 -72px 93px -24px rgba(0,0,0,.88);
}

@media screen and (max-width: 800px) {
    .footerContainer {
        font-size: 3vw;
        height: 10vh;        
    }
}
