.TextContainer {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.TextContainer > p {
    padding: 0 0 1vh 0;
}

.imageAuthor {
    font-size: 1.1rem;
    margin: 3vh 0;
}

.imageDate {
    text-align: right;
    font-size: 1.1rem;
    margin: 1vh 0;
}
